.business {
  display: flex;
  margin: 0;
  padding: 0;
}

.business .item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.business-title {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 27px 0;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.figure {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .ishidden {
    display: none;
  }
}

// .section .figure {
//   text-align: center;
// }

// .business .item:not(:last-child) {
//   margin-right: 30px;
// }
// .business .item:not(:last-child) {
//   margin-right: 30px;
// }

// .business-title {
//   display: block;
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   padding: 27px 0;
//   color: #ffffff;
//   background: rgba(47, 48, 58, 0.8);
//   text-align: center;
// }
