.button-style {
  display: block;
  margin: auto;
  min-width: 136px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  background-color: $bgc-button-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $text-button-color;
  font-weight: bold;
  letter-spacing: 0.06rem;

  cursor: pointer;
}

.ref-style {
  font-size: 16px;
  line-height: 1.88;
}
