.team {
  // section
  background-color: $second-bgc;
  box-sizing: border-box;
}

.person {
  // ul - основной контент

  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
    margin: 0;
  }
}

.team .member {
  // li - элемент списка

  padding: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 0 15px;
  }

  img {
    display: block;
  }
}

.job-title {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.name-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  text-transform: none;
}

.social-contacts {
  // ul - social contacts

  margin: 0 0 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & .item + .item {
    margin-left: 10px;
  }
}

.social-link {
  // a - ссылка , контейнер для одной иконки
  display: inline-block;
  text-align: center;

  margin: 0;
  padding: 0;

  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icons-primary-color;
  background-color: inherit;
  cursor: pointer;

  transition: $time-amount $timing-function;

  &:hover,
  &:focus {
    color: $text-button-color;
    background-color: $accent-color;
  }
}

.social-icon {
  // svg - иконка, размер , положение
  padding: 0;
  margin: 12px auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
