// variables

$primary-text-color: #757575;
$text-title-color: #212121;
$accent-color: #2196f3;
$background-color: #ffffff;
$second-bgc: #f5f4fa;
$footer-bgc: #2f303a;
$bgc-button-color: #2196f3;
$text-button-color: #ffffff;
$icons-primary-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time-amount: 250ms;
$backdrop-bgc: rgba(0, 0, 0, 0.2);

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
